@using CvProject.Models.Entity;
@model List<TBLPROJECTS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminDefault/_AdminMain.cshtml";
}
<h2>Deneyim ve İşler</h2>
<table class="table table-bordered">
    <thead class="table-active">
        <tr>
            <th>DENEYİMLER</th>
            <th>ÇALIŞMALAR</th>
            <th>GÜNCELLE</th>
            <th>SİL</th>
            <th>DURUM</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.JOBS</td>
                <td>@item.WORKS</td>
                <td><a href="@Url.Action("Take","AdminWorks",new {id = item.PID})" class="btn btn-warning">GÜNCELLE</a></td>
                <td><a href="@Url.Action("DeleteWorks","AdminWorks",new {id = item.PID})" class="btn btn-danger">SİL</a></td>
                <td class="text-center">
                    @using (Html.BeginForm("Active", "AdminWorks", FormMethod.Post, new { @id = "form_" + item.PID }))
                    {
                        @Html.Hidden("id", item.PID)
                        <input type="checkbox"
                               name="activeCheckbox"
                               value="1"
                               @(item.P_ACTIVE== 1 ? "checked" : "")
                               style="width: 30px; height: 30px; cursor: pointer;"
                               onchange="document.getElementById('form_@item.PID').submit();" />
                        <input type="hidden" name="activeCheckbox" value="0" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="@Url.Action("AddWorks","AdminWorks")">Yeni Deneyim Ekle</a>