@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("HeaderP", "AdminDefault")
<body>

    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Action("SidebarP", "AdminDefault")
        <!-- End Sidebar -->

        @Html.Action("NavbarP", "AdminDefault")

        <div class="container">
            @RenderBody()
        </div>

        @Html.Action("FooterP", "AdminDefault")
    </div>
    <!-- Custom template | don't include it in your project! -->
    <!-- End Custom template -->
    <!--   Core JS Files   -->
    @RenderSection("Scripts", required: false)
    @Html.Action("ScriptsP", "AdminDefault")
</body>
</html>
