@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("Header", "MainPage") @* head *@

<body>
    <div id="tm-bg"></div>
    <div id="tm-wrap">
        <div class="tm-main-content">
            <div class="container tm-site-header-container">
                <div class="row">
                    @Html.Partial("Home", "MainPage") @* home *@
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="content">
                            <div class="grid">
                                @Html.Partial("About", "MainPage") @* about *@

                                @Html.Partial("Skills", "MainPage") @* skills *@

                                @Html.Partial("Works", "MainPage") @* works *@

                                @Html.Partial("Contact", "MainPage") @* contact *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("Footer") @* footer *@
        </div> <!-- .tm-main-content -->
    </div>
    <!-- load JS -->
    @Html.Partial("Scripts") @* scripts *@

</body>
</html>

