<!DOCTYPE html>
<html lang="en">
@Html.Partial("HeaderP")
<body>

    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Partial("SidebarP")
        <!-- End Sidebar -->

        @Html.Partial("NavbarP")
                
        <div class="container">
            @RenderBody()
        </div>

        @Html.Partial("FooterP")
    </div>
    <!-- Custom template | don't include it in your project! -->
    <!-- End Custom template -->
    <!--   Core JS Files   -->
    @Html.Partial("ScriptsP")
</body>
</html>
