@using CvProject.Models.Entity;
@model List<TBLCONTACT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminDefault/_AdminMain.cshtml";
}
<h2>İletişim</h2>
<div style="overflow-x: auto;">
    <table class="table table-bordered">
        <thead class="table-active">
            <tr>
                <th>TELEFON</th>
                <th>GITHUB</th>
                <th>GITHUB LİNKİ</th>
                <th>LINKEDIN</th>
                <th>LINKEDIN LİNK</th>
                <th>MAİL</th>
                <th>GÜNCELLE</th>
                <th>SİL</th>
                <th>DURUM</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PHONE</td>
                    <td>@item.SMLGIT</td>
                    <td>
                        <a href="@item.LINKGIT" target="_blank">@item.LINKGIT</a>
                    </td>
                    <td>@item.SMLLINKED</td>
                    <td>
                        <a href="@item.LINKIN" target="_blank">@item.LINKIN</a>
                    </td>
                    <td>@item.LMAIL</td>
                    <td><a href="@Url.Action("Take","AdminContact", new {id = item.SMID})" class="btn btn-warning btn-sm">GÜNCELLE</a></td>
                    <td><a href="@Url.Action("DeleteContact","AdminContact", new {id = item.SMID})" class="btn btn-danger btn-sm">SİL</a></td>
                    <td class="text-center">
                        @using (Html.BeginForm("Active", "AdminContact", FormMethod.Post, new { @id = "form_" + item.SMID }))
                        {
                            @Html.Hidden("id", item.SMID)
                            <input type="checkbox"
                                   name="activeCheckbox"
                                   value="1"
                                   @(item.C_ACTIVE == 1 ? "checked" : "")
                                   style="width: 30px; height: 30px; cursor: pointer;"
                                   onchange="document.getElementById('form_@item.SMID').submit();" />
                            <input type="hidden" name="activeCheckbox" value="0" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a class="btn btn-primary" href="@Url.Action("AddContact","AdminContact")">Yeni İletişim Ekle</a>

